        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="widget span4">
                        <h4>ニュースリリース</h4>
						<ul>
						  <li class="relLabel"><a href="/2012/06/01/symbigun-.html">2012-06-01 ディー・ワークス、スマートフォンアプリのアクティブユニークユーザー数の計測に特化した無料解析サービスを提供開始</a></li>
						  <li class="relLabel"><a href="/2011/08/02/-.html">2011-08-02 スマートフォンアプリ・サイト解析サービスをバージョンアップ ～より正確なスマートフォンユーザーの利用状況把握を実現～</a></li>
						  <li class="relLabel"><a href="/2011/01/20/-wellout-ios-android-.html">2011-01-20 「wellout スマートフォンアプリ解析サービス」の提供を開始 ～iOSアプリ、Androidアプリの利用状況把握が可能に～</a></li>
						</ul>
                    </div>
                    <div class="widget span4">
                        <h4>個人情報保護方針</h4>
						<ul>
						  <li><a href="/privacy/statement.html">プライバシーステートメント</a></li>
						  <li><a href="/privacy/disclosure.html">「開示等の求め」に応じる手続き等に関する事項</a></li>
						  <li><a href="/privacy/purpose.html">個人情報の利用目的 </a></li>
						</ul>
                    </div>
                    <div class="widget span4">
                        <h4>Contact Us</h4>
                        <p><i class="icon-envelope-alt"></i> Email: <a href="mailto:info2013@d-worx.co.jp">info2013@d-worx.co.jp</a></p>
                    </div>
                </div>
                <div class="footer-border"></div>
                <div class="row">
                    <div class="copyright span12">
                        <p>Copyright © 1998-2013 d-worx Inc. All rights reserved.</p>
						<p>Template by <a href="http://azmind.com">Azmind</a>.</p>
                    </div>
					<!--
                    <div class="social span8">
                        <a class="facebook" href=""></a>
                        <a class="dribbble" href=""></a>
                        <a class="twitter" href=""></a>
                        <a class="pinterest" href=""></a>
                    </div>
					-->
                </div>
            </div>
        </footer>
