.toplogo {
	margin-top: 10px;
}

.header ul.nav li a:hover {
	background: #1B2B9B;
	color: #fff;
}

.relLabel {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}

.team-text {
	padding-top: 10px;
	height: 335px;
}

.biotext {
	text-align: left;
	padding: 0 15px;
}
