.toplogo {
	margin-top: 10px;
}

.header ul.nav li a:hover {
	background: #1B2B9B;
	color: #fff;
}

.relLabel {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* Opera9,10対応 */
}