---
layout: about
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>株式会社ディーワークス / {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="http://cdn.d-worx.co.jp/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.d-worx.co.jp/assets/prettyPhoto/css/prettyPhoto.css">
        <link rel="stylesheet" href="http://cdn.d-worx.co.jp/assets/css/flexslider.css">
        <link rel="stylesheet" href="http://cdn.d-worx.co.jp/assets/css/font-awesome.css">
        <link rel="stylesheet" href="http://cdn.d-worx.co.jp/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/mystyle.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="http://cdn.d-worx.co.jp/assets/ico/favicon.ico">

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-51109-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    </head>

    <body>

        <!-- Header -->
        <div class="container">
            <div class="header row">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <h1>
                                <a class="brand" href="/">d-worx inc.</a>
                            </h1>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li>
                                        <a href="/"><i class="icon-home"></i><br />Home</a>
                                    </li>
                                    <li {% if page.url contains '/services/' %}class="current-page"{% endif %}>
                                        <a href="/services/"><i class="icon-tasks"></i><br />Services</a>
                                    </li>
                                    <li {% if page.url contains '/about/' %}class="current-page"{% endif %}>
                                        <a href="/about/"><i class="icon-user"></i><br />About</a>
                                    </li>
                                    <li {% if page.url contains '/release/' %}class="current-page"{% endif %}>
                                        <a href="/release/"><i class="icon-bullhorn"></i><br />Releases</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-full-width container">
            <div class="row">
                <div class="services-full-width-text span12">
				{{ content }}
                </div>
            </div>
        </div>


        <div class="team container">
            <div class="team-title">
                <h3>Board Members</h3>
            </div>
            <div class="row">
                <div class="team-text span6">
                    <img src="/assets/img/izumi_profile_photo.png" width="64">
                    <h4>泉　大五郎 / Daigoro Izumi （代表取締役）</h4>
                    <p class="biotext">1996年 多摩大学経営情報学部卒業<br>
IIJメディアコミュニケーションズを経て、現職<br>
当社におけるサービス企画、ビジネスデベロップメント、経営全般に携わる<br>
2010年より日本で一番小規模な上場会社の取締役を務め、<br>
上場会社に求められる実務全般に携わる<br>
経営・IT・デジタルマーケティングに関する知見・経験の側面から<br>
クライアントの課題解決に取り組む</p>

                    <div class="social-links">
                        <a href="https://plus.google.com/u/0/100239039197063576211/posts"><img src="/assets/img/social-icons-19.png"></a>
                    </div>
                </div>
                <div class="team-text span6">
                    <img src="https://pbs.twimg.com/profile_images/1112849772/faceicon_bigger.png" width="64">
                    <h4>西島　幸一郎 / Koichiro Nishijima （CTO）</h4>
                    <p class="biotext">1974年生まれ<br>
インターネットイニシアティブ（IIJ）を経て、1998年より現職<br>
ソフトウェア開発/システムアーキテクトとして10年以上の経験を持ち、<br>
ネットワーク設計から、Webサイト開発、大規模データ解析までを幅広く手がける<br>
2011年より沖縄県宜野湾市在住<br>
<a href="http://jaws-ug.jp/bc/okinawa/">JAWS-UG沖縄</a>の副代表として、クラウドの普及活動に勤しむ<br>
アワード：AWSサムライ2014を拝命</p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/nishijima.koichiro"><img src="/assets/img/social-icons-16.png"></a>
                        <a href="https://twitter.com/k_nishijima"><img src="/assets/img/social-icons-15.png"></a>
                    </div>
                </div>
            </div>
        </div>

		<hr />

		{% include footer.html %}
		{% include script.html %}

    </body>

</html>
